<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><%= link gettext("Home"), to: "/" %></li>
    <li><%= link gettext("Geo-fences"), to: "/geo-fences" %></li>
    <li class="is-active"><a href="#"><%= @geofence.name %></a></li>
  </ul>
</nav>

<%= render "form.html", assigns %>
