<%= for summary <- @summaries do %>
  <%= live_render @socket, TeslaMateWeb.CarLive.Summary, id: "car_#{summary.car.id}",
        session: %{ "summary" => summary, "settings" => @settings, "locale" => @locale } %>
<% end %>
