@charset "utf-8";

@import "~leaflet/dist/leaflet.css";
@import "~leaflet-control-geocoder/dist/Control.Geocoder.css";
@import "~@geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css";

$mdi-font-path: '~@mdi/font/fonts';
@import "~@mdi/font/scss/materialdesignicons.scss";

$notification-padding: 0.75rem 1.25rem 0.75rem 0.75rem;
$widescreen-enabled: false;
$fullhd-enabled: false;

@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/components/breadcrumb";
@import "~bulma/sass/components/card";
@import "~bulma/sass/components/dropdown";
@import "~bulma/sass/components/message";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/components/tabs";
@import "~bulma/sass/elements/box";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/icon";
@import "~bulma/sass/elements/notification";
@import "~bulma/sass/elements/table";
@import "~bulma/sass/elements/tag";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/form/_all";
@import "~bulma/sass/layout/section";
@import "~bulma/sass/grid/_all";
// @import "~bulma/bulma";

@import '~bulma-tooltip';
@import '~bulma-switch';
@import '~bulma-divider';

// @import "../../deps/phoenix_live_view/assets/css/live_view.css";
.phx-disconnected {
  cursor: wait;

  * {
    pointer-events: none;
  }
}

.alert:empty {
  display: none;
}

nav.navbar {
  z-index: 401;
}

.car {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;

  .card-content {
    padding: 0.8rem 0.4rem;
  }

  .content table td,
  .content table th {
    border: none;
  }

  .map {
    .leaflet-control-attribution.leaflet-control {
      display: none;
    }
  }

  .card-content {
    // .icons {
    //   .icon:not(last-child) {
    //     margin-right: 8px;
    //   }
    // }

    .media {
      padding: 0 0.25em;
      justify-content: space-between;
    }

    .table {
      &.is-narrow td {
        padding: 0.125em 0.25em;
      }

      th:first-of-type {
        width: 50%;
      }

    }

    @media screen and (max-width: 900px) {
      .duration-extended {
        display: none;
      }
    }
  }


  @media screen and (min-width: $tablet) {
    flex-direction: row;

    .card-image {
      min-width: 300px;
      width: 50%;

      .map {
        position: absolute !important;
        top: 0;
        bottom: 0;
        height: 100% !important;
        width: 100%;
      }
    }

    .card-content {
      width: 100%;
      max-width: 550px;
      padding: 0.75rem 1.5rem;
    }
  }

  button[phx-click=suspend_logging]:disabled {
    pointer-events: none;
  }
}

.navbar-brand a.navbar-item:hover {
  background-color: transparent !important;
}

.field.is-horizontal {
  &.center-vertically .field {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .control:not(.addon) {
      flex-grow: 1;
    }
  }

  .field {
    flex-wrap: wrap;

    .help:not(:empty) {
      width: 100%;
    }
  }

  .field-label {
    min-width: 165px;


    .tooltip:before {
      text-align: left !important;
    }

    .icon {
      vertical-align: middle;
    }

    .mdi {
      font-size: 1em;
    }
  }
}

$sizes: (0,5,10,15,20,25,30,50);
$positions: ('top','left','bottom','right');

@each $size in $sizes {
  @each $position in $positions {
    .m#{str-slice($position, 0, 1)}-#{$size} {
      margin-#{$position}: $size + px !important;
    }
    .p#{str-slice($position, 0, 1)}-#{$size} {
      padding-#{$position}: $size + px;
    }
  }
}

.mdi {
  font-size: 1.25em;
}

@media screen and (orientation: landscape) and (max-width:  $desktop - 1) {
  body{
    -webkit-text-size-adjust: none;
  }

  .navbar .navbar-brand,
  .navbar .navbar-end,
  main.section .container{
    max-width: 95%;
  }

  .navbar .navbar-brand,
  .navbar .navbar-end
  {
    margin: 0 auto;
  }
}

@media screen and (max-width: 390px) {
  main.section {
    padding: 1.5rem 0.75rem;
  }
}

.is-truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-with-addon {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.has-dotted-underline {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.spinner {
  display: inline-flex;
  justify-content: center;
  height: 1.0rem;
  width: 1.0rem;

  .is-loading {
      position: relative;
      pointer-events: none;
      &:after {
        @extend %loader;
        @include center(1em);
        position: absolute !important;
      }
  }
}

.field.is-horizontal .field-label {
  min-width: 200px;
}

main.full-height {
  min-height: calc(100vh - 102px);
  min-height: calc((var(--vh, 1vh) * 100) - 102px);
}

.footer {
  height: 50px;
  opacity: 0.8;

  .button.is-text {
    text-decoration: initial;
  }
}
