<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TeslaMate · Home</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">TeslaMate</a>

          <a
            role="button"
            class="navbar-burger burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end">
            <%= link(gettext("Geo-Fences"), to: "/geo-fences", class: "navbar-item") %>
            <%= link(gettext("Settings"), to: "/settings", class: "navbar-item  mr-5") %>
            <div class="tags has-addons ml-10">
              <span class="tag is-primary">v<%= Application.spec(:teslamate, :vsn) %></span>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <main role="main" class="section">
      <div class="container">
        <%= Enum.map(get_flash(@conn), fn {flash_key, flash_message} -> %>
          <p class="notification is-<%= flash_key %>"><%= flash_message %></p>
        <% end) %>

        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
