<div class="car card">
  <header class="card-header">
    <p class="card-header-title"><%= @summary.display_name %></p>
    <div class="card-header-icon">
      <%=
        cond do
          not is_nil(@error) ->
            link @error, to: "#", class: "button is-danger is-small is-outlined", disabled: true

          @summary.state == :online and !@summary.sentry_mode and @summary.locked->
            link gettext("try to sleep"), to: "#", phx_click: "suspend_logging", class: "button is-info is-small is-outlined"

          @summary.state == :suspended ->
            link gettext("abort sleep attempt"), to: "#", phx_click: "resume_logging", class: "button is-info is-small is-outlined"

          true ->
            nil
        end
      %>
    </div>
  </header>
  <div class="card-content">
    <div class="content">
      <table class="table is-narrow is-fullwidth">
        <thead>
          <tr>
            <th></th>
            <th style="max-width: 40%; width: 40%"></th>
          </tr>
        </thead>
      <tbody>
        <tr>
          <td><%= gettext "Status" %></td>
          <td><%= @translate_state.(@summary.state) %></td>
        </tr>
        <%= unless is_nil(@summary.ideal_battery_range_km) do %>
        <tr>
          <td><%= gettext "Range" %></td>
          <td>
            <%= if @settings.unit_of_length == :mi do %>
              <%= Float.round(@summary.ideal_battery_range_km / 1.60934, 1)%> mi
            <% else %>
              <%= @summary.ideal_battery_range_km %> km
            <% end %>
          </td>
        </tr>
        <% end %>
        <%= if @summary.state in [:charging, :charging_complete] and not is_nil(@summary.charge_energy_added) do %>
        <tr>
          <td><%= gettext "Charged" %></td>
          <td><%= @summary.charge_energy_added %> kWh</td>
        </tr>
        <% end %>
        <%= unless is_nil(@summary.plugged_in) do %>
        <tr>
          <td><%= gettext "Plugged in" %></td>
          <td><%= (if @summary.plugged_in, do: gettext("yes"), else: gettext("no"))  %></td>
        </tr>
        <% end %>
        <%= if @summary.plugged_in do %>
          <%= if not is_nil(@summary.scheduled_charging_start_time) do %>
          <tr>
            <td><%= gettext "Scheduled charging" %></td>
            <td class="convert-date">
              <%= @summary.scheduled_charging_start_time %>
            </td>
          </tr>
          <% end %>
          <%= if not is_nil(@summary.charge_limit_soc) do %>
          <tr>
            <td><%= gettext "Charge limit" %></td>
            <td><%= @summary.charge_limit_soc %>%</td>
          </tr>
          <% end %>
        <% end %>
        <%= unless is_nil(@summary.battery_level) do %>
        <tr>
          <td><%= gettext "State of Charge" %></td>
          <td><%= @summary.battery_level %>%</td>
        </tr>
        <% end %>
        <%= unless is_nil(@summary.locked) do %>
        <tr>
          <td><%= gettext "Locked" %></td>
          <td><%= (if @summary.locked, do: gettext("yes"), else: gettext("no"))  %></td>
        </tr>
        <% end %>
        <%= unless is_nil(@summary.sentry_mode) do %>
        <tr>
          <td><%= gettext "Sentry Mode" %></td>
          <td><%= (if @summary.sentry_mode, do: gettext("yes"), else: gettext("no"))  %></td>
        </tr>
        <% end %>
        <%= unless is_nil(@summary.speed) do %>
        <tr>
          <td><%= gettext "Speed" %></td>
          <td>
            <%= if @settings.unit_of_length == :mi do %>
              <%= round(@summary.speed / 1.60934)%> mph
            <% else %>
              <%= @summary.speed %> km/h
            <% end %>
          </td>
        </tr>
        <% end %>
        <%= unless is_nil(@summary.outside_temp) do %>
        <tr>
          <td><%= gettext "Outside temperature" %></td>
          <td>
            <%= if @settings.unit_of_temperature == :F do %>
              <%= Float.round((@summary.outside_temp * 9/5) + 32, 1)%> °F
            <% else %>
              <%= @summary.outside_temp %> °C
            <% end %>
          </td>
        </tr>
        <% end %>
        <%= unless is_nil(@summary.inside_temp) do %>
        <tr>
          <td><%= gettext "Inside temperature" %></td>
          <td>
            <%= if @settings.unit_of_temperature == :F do %>
              <%= Float.round((@summary.inside_temp * 9/5) + 32, 1)%> °F
            <% else %>
              <%= @summary.inside_temp %> °C
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>
